:root {
  --frequencia: #126ae2;
  --nota: #126ae2;
  --prova: #126ae2;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titulo_aula {
  font-weight: bold;
  font-size: 15px;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lables {
  display: flex;
}

.lable-prova,
.lable-frequencia,
.lable-nota {
  background-color: var(--prova);
  padding: 7px 15px;
  margin-bottom: 10px;
  border-radius: 500px;
  text-align: center;
  margin-right: 10px;
}

.lable-frequencia {
  background-color: var(--frequencia);
}

.lable-nota {
  background-color: var(--nota);
}

.p_lable {
  font-size: 13px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-card {
  border-radius: 12px;
  padding: 12px;
  box-shadow: 1px 2px 8px 2px rgba(194, 194, 194, 0.4);

  div {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  svg {
    color: #126ae2;
  }
}